/* Styling the Body element i.e. Color,
/* reset margins and padding as default*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

Font,
Alignment */ body {
	text-align: center;
}

/* Styling the Form (Color, Padding, Shadow) */
form {
	/* background-color: white; */
	max-width: 500px;
	margin: 50px auto;
	border-radius: 5px;
}

/* Styling form-control Class */
.form-control {
	text-align: left;
	margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
	display: block;
	margin-bottom: 10px;
}

/* Styling form-control input,
		select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
	border: 1px solid #777;
	border-radius: 5px;
	font-family: inherit;
	padding: 20px;
	display: block;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Styling form-control Radio
		button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
	display: inline-block;
	width: auto;
}